%div{ data: { submit_remove: '' } }
  .row
    .large-9.columns
      %h4
        Edit Story
    .large-3.columns
      %a.right{ title: 'Close', href: 'javascript:void(0)', data: { click_submit: '' } }
        .fa.fa-remove

  .panel
    %form{ action: "/stories/#{story[:id]}", method: :patch, data: { remote: true } }
      %div{ data: { block_bind: '' }, style: 'display: none;' }
        %p This story has been updated
        %button.btn-tiny{ data: { unblock_bind: '' } } Reload
    
      = haml :story_form, locals: { story: story }

      %div
        %button.btn-tiny Update Story

  .panel
    %p
      %strong Comments

    %div{ data: { bind_url: "/stories/#{story[:id]}/comments" } }
      = haml :story_comments, locals: { story_comments: story_comments }

    %form{ action: "/stories/#{story[:id]}/comments", method: :post, data: { remote: true, submit_wipe: '', nested_form: '' } }
      %div
        %label{ for: 'story_comment_commentee' } Your Name

      %div
        %input#story_comment_commentee{ name: 'story_comment[commentee]', type: 'text' }

      %div
        %label{ for: 'story_comment_content' } Content

      %div
        %textarea#story_comment_content{ name: 'story_comment[content]', type: 'text' }

      %div
        %button.btn-tiny Comment